div.showContent {
    border: 0px solid blue;
    width: 100%;
    height: 100%;
    padding:2%;
}

.showItems {
    background: white;
    border : 0px solid blue;
    width: 99%;
    height: 100%;
    margin-left: 1%;
    padding-left: 2.5%;
    padding-bottom: 3%;
    overflow: auto;

    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 50px grey;
    text-align: center;
}