#sideNav {
    float: left;
    width: 300px;
    border: 0px solid blue;
    margin-top: 2%;
    margin-left: 1%;
}

#nameContainer {
    list-style: none;
    padding: 0px;
}

.teacherNames {
    background: white;
    width: 100%;
    border: 0px solid red;
    margin-top: 2%;

    text-align: center;

    display: block;

    padding: 3.5%;

    border-radius: 2px 5px 5px 15px;
    box-shadow: 1px 1px 8px grey;

    transition: all .1s;
}
.teacherNames:first-child {
    margin-top: 0px;
}

.teacherNames:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.activeName {
    border-left: 7px solid #44b299;
    border-right: 7px solid #44b299;
}

.names {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-decoration-style: none;
    color: black;

    display: block;
}

.names:hover {
    text-decoration: none;
    color: black;
}