#formField {
    background: white;
    border: 0px solid red;
    width: 95%;
    border-radius: 20px;
    box-shadow: 1px 1px 16px;

    padding: 1%;
    margin-left: 3%;
    margin-top: 2%;

    overflow: auto;
    text-align: center;
}


#filterTag {
    width: 30%;
    border: 0px solid blue;
    display: inline-block;
    margin: auto;
    padding: .8%;
}

input[type=text] {
    width: 30%;
    padding: 1.5%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    transition: all .5s;
}

input:focus {
    outline: none;
}

.slct {
    display: block;
    width: 100%;
    padding: .3rem .6rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 5px;

    box-shadow: 2px 2px 10px grey;
    border-top: 3px solid white;
    transition: all .4s;
}

.slct:hover {
    border-top: 3px solid dodgerblue;
    box-shadow: 4px 4px 30px grey;
    cursor: pointer;
}

.slct:focus {
    outline: none;
}

#select1 {
    width: 50%;
}

#tg1 {
    margin-left: 1%;
}

#tg2 {
    margin-left: 2%;
}

#tg3 {
    margin-left: 2%;
}

#filterFormat {
    border: 0px solid red;
    margin-left: 1%;
    padding: .8%;
    display: inline-block;
}

#orderByRating {
    border: 0px solid green;
    display: inline-block;
    margin-left: 1%;
    padding: .8%;
}

#orderByDate {
    border: 0px solid cyan;
    display: inline-block;
    margin-left: 1%;
    padding: .8%;
}

#submit-button {
    width: 150px;
    float: right;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-top: 2%;
    text-align: center;
    border: 0px solid orange;
}

.button {
  border-radius: 4px;
  background-color: /*#f4511e*/ dodgerblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17.5px;
  padding: 20px;
  width: 100%;
  height: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.ttl {
    margin: auto;
    font-size: 18px;
    margin-bottom: 15px;
}