#showProjects {
    background-color: white;
    float: right;
    width: 72%;
    border-top: 2px solid #44b299;
    border-bottom: 2px solid #44b299;

    margin-top: 2%;
    margin-right: 1%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;

    padding: 1%;
    text-align: center;
}

@media screen and (max-width: 1229px) {
    #showProjects {
        width: 65%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 1005px) {
    #showProjects {
        width: 60%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 810px) {
    #showProjects {
        width: 45%;
        margin-right: 8%;
    }
}