#showProjects {
    float: right;
    width: 72%;
    height: 400px;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;

    margin-top: 2%;
    margin-right: 1%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px grey;

    padding: 2%;
}